In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("hello!")
#Call the function.
say_hello()

hello!

In [3]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)
# Call the function
say_something("wazzup")

wazzup

In [4]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [5]:
# Define a function that calculates the percentage of students that passed both 
# math and reading and returns the passing percentage when the function is called.

def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100
passing_math_percent(30,100)

30.0

In [6]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [8]:
import pandas as pd

In [9]:
# convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [10]:
# Change the grades by one letter grade.
my_grades.map({'B':'A','C':'B','D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [12]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]
for grades in my_grades:
    print("{:.0f}".format(grades))

92
85
87
98

In [17]:
# Convert the numerical grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [18]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object